img {
  width:auto;
  height:150px;
}

body {
  background-color:beige;
}

.content{
  margin-top: 10px;
  margin-bottom: 10px;
}

.most-recent{
  border:5px black;
  background-color:lightgreen;
  padding:15px;
}

.fancy {
  font-style: italic;
  color:red;
}

.about {
  background-color:gold;
}

.death {
  font-weight:600;
  font-family: fantasy;
}

p {
  width:35%;
}
